* {
    margin: 0px;
    padding: 0px;
    font: optional;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    margin: 0;
    padding: 0;
}
.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 1;
    display: none;
}

/* HEADER */

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding-bottom: 7px;
    border-bottom: 1px solid rgb(224, 223, 223);
    padding-left: 25px;
    padding-right: 25px;
}

.header .menu {
    display: none;
}

.header .menu img {
    width: 30px;
    height: 30px;
}

.header .logo {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 25px 0px 0px 0px;
}

.header .logo a {
    text-decoration: none;
    color: black;
    font-size: xx-large;
}

.header .icons {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 25px 0px 0px 0px;
}

.header .icons .sign-in img {
    width: 20px;
    height: 20px;
    margin: 0px 0px 0px 0px;
}

.header .icons .search img {
    width: 20px;
    height: 20px;
    margin: 0px 0px 0px 25px;
}

.header .icons .cart img {
    width: 20px;
    height: 20px;
    margin-left: 25px;
}


/* Nav Bar */
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 25px;
    margin-right: 25px;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 20px 0px 20px 0px;
    margin: 0px 0px 0px 25px;
    transition: color 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
}

.navbar a:hover {
    color: goldenrod;
    border-bottom: 3px solid goldenrod;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    color: black;
    padding: 20px 0px 20px 0px;
    margin: 0px 0px 0px 20px;
    transition: color 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
}

.dropdown:hover .dropbtn {
    color: goldenrod;
}

.thread1-nav {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.thread1-nav a {
    display: block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    margin: 0px 0px 0px 0px;
}

.thread1-nav a:hover {
    color: goldenrod;
    border-bottom: none;
}

.dropdown:hover .thread1-nav {
    display: block;
    margin-top: 20px;
    width: 125%;
}
/* Sign i npop up */
.required::after{
    content: " *";
    color: red;
}

#Eerror,#Perror {
    display: flex;
    justify-content: flex-end;
    margin-top:0px;
}
#suEerror,#suPerror {
    display: flex;
    justify-content: flex-end;
    margin-top:0px;
}
.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.top h1 {
    font-weight: 100;
    font-size: xx-large;
}

.top span {
    font-size:medium;
}

.top img {
    width: 15px;
    height: 15px;
}
.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.form-popup {
    display: none;
    position: fixed;
    top: 30%;
    left: 35%;
    z-index: 2;
}
  
.form-container {
    width:500px;
    height:auto;
    max-width: 1000px;
    padding: 50px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 10px 10px 50px #0e0e0e;
}
  
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
  
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
  

.form-container .btn {
    background-color: black;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    margin-bottom:10px;
    opacity: 0.8;
}

.form-container .btn:hover {
    opacity: 1;
}

.cancel {
    cursor: pointer;
    float: right;
}

/* BANNAR */

.banner {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0;
}
  
.banner img {
    width: 100%;
    height: 330px;
    object-fit: cover; 
}
 
.banner h3{
    position: absolute;
    margin-left: 300px;
    margin-top: -125px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 50px;
    font-weight: 100;
}

.banner p {
    position: absolute;
    margin-left: 300px;
    margin-top: -70px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
}

.modify {
    display:flex;
    flex-direction: row;
    background-color: rgb(234, 232, 232);
    margin-top: -2.5px;
    width:100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    padding-left: 25px;
    justify-content: space-between;
}

.filter {
    display:flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
    /* border-right: 1px solid rgb(255, 255, 255); */
}

.filter img, .sort img {
    width: 20px;
    height: 20px;
    margin-right: 15px; 
}

#arrowIcon {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 0px;

}
.filter p , .sort p {
    font-size: large;

}
/* .modify-middle {
    width: 80%;
} */

.sort {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    /* border-left: 1px solid rgb(255, 255, 255); */
    position: relative;
}

.options {
    top: 120%;
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-width: 200px;

}

.options button {
    display: block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    margin: 0px 0px 0px 0px;
    background: none;
    border: none;
    font-size: medium;
}

.options button:hover {
    color: goldenrod;
    border-bottom: none;
}

.sort:hover .options {
    display: block;
    margin-top: 10px;
    width: 120%;
}




#main {
    transition: margin-left .5s;
    width: -webkit-fill-available;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

.sale-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

#arrowIcon {
    transition: transform 0.5s;
}

#arrowIcon.rotate {
    transform: rotate(180deg);
}

.sidemenu-content h1 {
    font-weight: 100;
    font-size: x-large;
}


.availability {
    margin-bottom: 20px;
}



.availability .collection {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.availability li {
    margin-bottom: 10px;
}

.availability input[type="checkbox"] {
    margin-right: 5px;
}

.availability label {
    cursor: pointer;
}

.availability label:hover {
    color: #c1ba78;
}


input[type=range] {
   box-sizing: border-box;
   appearance: none;
   width: 150px;
   margin: 0;
   padding: 0 2px;
   overflow: hidden;
   border: 0;
   border-radius: 1px;
   outline: none;
   background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)) no-repeat center;
   background-size: 100% 2px;
   pointer-events: none;

   /* &:active,
   &:focus {
      outline: none;
   } */

    &::-webkit-slider-thumb {
      height: 18px;
      width: 18px;
      border-radius: 28px;
      background-color: rgb(0, 0, 0);
      position: relative;
      margin: 5px 0;
      cursor: pointer;
      appearance: none;
      pointer-events: all;
      box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);

   }
}

.multi-range {
   position: relative;
   height: 50px;

   input[type=range] {
      position: absolute;
      
      &:nth-child(1) {
         &::-webkit-slider-thumb::before {
            background-color: rgb(0, 0, 0);
         }
      }

      &:nth-child(2) {
         background: none;

         &::-webkit-slider-thumb::before {
             background-color: rgb(0, 0, 0); 
         }
      }
   }
}

.value-min{
    top: 40px;
    position: absolute;
}

.value-max{
    top: 60px;
    position: absolute;
}

.value-min #min{
    left: 80px;
    position: absolute;
}

.value-max #max{
    left: 80px;
    position: absolute;
}

.cards {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}

.item {
    width: 400px;
    margin-bottom: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card-description {
    margin-bottom: 10px;
}

.btn {
    background-color: #040404;
    color: white;
    padding: 10px 15px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.addcartnav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #ffffffe3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.addcartnav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}
.add-chart h1 {
    font-size: xx-large;
    font-weight: 100;
}
.addcartnav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #000;
}

.add-chart {
    padding: 25px;
    flex-wrap: nowrap;
}

.total {
    margin: 15px;
    margin-top: 30px;
}

.gift {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 15px;
}

.gift button {
    background-color: #040404;
    color: white;
    padding: 10px 15px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 30%;
}
.gift #txt {
    padding: 15px;
    border-color: 2px solid black;
    width: 50%;
}
.pur-details {
    display: flex;
    margin: 15px;
    margin-top: 20px;
}

#checkoutButtonContainer button{
    background-color: #040404;
    color: white;
    padding: 14px 19px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.item-price button {
    background-color: #040404;
    color: white;
    padding: 3px 7px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
}

.item-price p {
    font-size: medium;
    margin-top: 5px;
}

#cartTotalContainer {
    font-size: larger;
    margin-bottom: 10px;
}

::-webkit-scrollbar {
    width: 0px;
}

/* Style for the payment */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 5px;
    border: 1px solid #888;
    width: 45%;
}

.close {
    color: #000000;
    float: right;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.payment-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    justify-content: center;
    padding: 40px;
    flex-wrap: wrap;

}

.paytop {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.paytop h2 {
    font-weight: 100;
}

.paymiddle {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;


}

.pymiddle-lside {
    display:flex;
    flex-direction: column;
    
}

.pymiddle-rside {
    display:flex;
    flex-direction: column;
    padding-left: 20px;
}


.paybottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.paybottom button {
    background-color: #040404;
    color: white;
    padding: 10px 15px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.paybottom h3 {
    font-weight: 100;
    margin-top: 20px;
    margin-left: 12px;
}

.pymiddle-rside input[type=text], .pymiddle-rside input[type=number] {
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
  
.pymiddle-rside input[type=text]:focus, .pymiddle-rside input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}

.pymiddle-lside input[type=number] {
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
  
.pymiddle-lside input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}

.required::after{
    content: " *";
    color: red;
}

#dateError,#cvvError, #cardError {
    display: flex;
    justify-content: flex-end;
    margin-top:0px;
}

.sidemenu {
    display: none;
}

.search {
    display: flex;
    flex-direction: row;
}

.search input[type=text] {
    border-radius: 5px;
    padding: 5px;
    border: none;
    background: #f1f1f1;
    margin-left: 15px;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
.sidenav {
    display: none;
}

#mySidemenu {
    flex: 0 0 auto;
  }
  
  #main {
    flex: 1;
    padding: 0;
  }

/* Media Queries */

@media only screen and (max-width: 1145px) {
    .header .logo {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        margin: 25px 0px 0px 0px;
    }
    
}

@media only screen and (max-width: 1025px) {
    .header .icons {
        width: 40%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
        margin: 25px 30px 0px 0px;
    }

    .header .logo {
        width: 60%;
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 25px 0px 0px 0px;
        flex-direction: row;
    }

    .header .icons .cart img {
        width: 20px;
        height: 20px;
        margin: 0px 25px 0px 25px;
    }

    .form-popup {
        display: none;
        position: fixed;
        top: 30%;
        left: 25%;
        z-index: 2;
        
    }
    
}

@media only screen and (max-width: 768px) {
    .navbar {
        display: none;
    }
    .header .icons .search {
        display: none;
    }

    .header .menu {
        display: block;
        width: 10%;
        margin: 0px 0px 0px 0px;
    }

    .header .menu img {
        width: 20px;
        height: 20px;
    }

    .header .logo {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        margin: 0px 0px 0px 0px;
    }
    
    .header .logo a {
        text-decoration: none;
        color: black;
        font-size: x-large;
    }

    .header .icons {
        width: 30%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
        margin: 0px 0px 0px 0px;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding-top: 25px;

    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #ffffff;
        padding-top: 20px;
        overflow-x: hidden;
        transition: 0.5s;
        display: block; 
    }

    .sidenav a {
        padding: 15px;
        text-decoration: none;
        font-size: 18px;
        color: #000000;
        display: block;
        transition: 0.3s;
        margin-left: 0px;

    }

    .sidenav a:hover {
        color: goldenrod;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .content {
        position: relative;
    }

    .dropdown {
        display: block;
    }

    .thread1-nav {
        display: none;
        padding-left: 20px;
        flex-direction: column; 
    }

    .dropdown:hover .thread1-nav {
        display: block;
        position: relative;
        background-color: white;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        width: 100%;
        margin-top: 0;
    }

    .side-menu {
        margin-top: 40px;
    }

    .sidenav .sign-in img {
        width: 20px;
        height: 20px;
        margin-top: 20px;
        margin-left: 25px;
    }
    
    .banner h3 {
        position: absolute;
        margin-left: 200px;
        margin-top: -160px;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 35px;
        font-weight: 100;
    }

    .sidenav .cart img {
        width: 20px;
        height: 20px;
        margin-top: 20px;
        margin-left: 25px;
    }

    .form-popup {
        display: none;
        position: fixed;
        top: 5%;
        left: 15%;
        z-index: 2;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 5px;
        border: 1px solid #888;
        width: 90%;
    }
}

@media only screen and (max-width: 630px) {
.form-popup {
    display: none;
    position: fixed;
    top: 5%;
    left: 10%;
    z-index: 2;
}

.sidenav .sign-in img {
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-left: 25px;
}


.sidenav .cart img {
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-left: 25px;
}

}

@media only screen and (max-width: 599px) { 
    .banner p {
        display: none;
    }
.banner h3 {
    position: absolute;
    margin-left: 200px;
    margin-top: -160px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 25px;
    font-weight: 100;
}

    .form-container {
        width: 350px;
        height: auto;
        max-width: 1000px;
        padding: 50px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 10px 10px 50px #0e0e0e;
    }

    .sidenav .sign-in img {
        width: 20px;
        height: 20px;
        margin-top: 20px;
        margin-left: 25px;
    }
    
    
    .sidenav .cart img {
        width: 20px;
        height: 20px;
        margin-top: 20px;
        margin-left: 25px;
    }

    .form-popup {
        display: none;
        position: fixed;
        top: 10%;
        left: 5%;
        z-index: 2;
    }
}

@media only screen and (max-width: 426px) {
    
.sidenav {
    display: block; 
}
    .mini-blog {
        display: none;
    }
    .footer .menu-main {
        display: none;
    }

    .footer .links {
        display: none;
    }

    .footer .contact {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 160%;
    }

    .footer {
        margin-left: 15px;
    }

    .header .icons {
        display: none;
    }
    .header .menu {        
        width: 10%;
        margin-top: 5px;

    }

    .header .logo {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        margin: 0;

    }

    .header .icons {
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: flex-end;
    }

    .header .logo a {
        font-size: 20px;
    }

    .header .logo-name {
        margin-left: 0px;
    }

    .header .logo a {
        text-decoration: none;
        color: black;
        font-size: 30px;
    }

    .header span {
        font-size: 20px;

    }
    .banner p {
        display: none;
    }

    .form-container {
        width: 350px;
        height: auto;
        max-width: 1000px;
        padding: 50px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 10px 10px 50px #0e0e0e;
    }

    .form-popup {
        display: none;
        position: fixed;
        top: 10%;
        left: 5%;
        z-index: 2;
    }

    .sidenav .sign-in img {
        width: 20px;
        height: 20px;
        margin-top: 20px;
        margin-left: 25px;
    }
    
    
    .sidenav .cart img {
        width: 20px;
        height: 20px;
        margin-top: 20px;
        margin-left: 25px;
    }

    .banner h3 {
        position: absolute;
        left: -20%;
        top: 100%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 25px;
        font-weight: 500;
    }
}

@media only screen and (max-width: 320px) {

    .header .menu {
        width: 10%;
    }

    .header .logo {
        width: 80%;
    }

    .header .logo-name {
        margin-left: 0px;
    }

    .sidenav {
        display: block; 
    }

    .banner h3 {
        left: -20%;
        position: absolute;
        top: 100%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 20px;
        font-weight: 100;
    }

    .sidenav .sign-in img {
        width: 20px;
        height: 20px;
        margin-top: 20px;
        margin-left: 25px;
    }
    
    
    .sidenav .cart img {
        width: 20px;
        height: 20px;
        margin-top: 20px;
        margin-left: 25px;
    }

    .form-container {
        width: 240px;
        height: auto;
        max-width: 1000px;
        padding: 30px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 10px 10px 50px #0e0e0e;
    }

    .header .icons {
        width: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0px 0px 0px 0px;
    }
    
    .header .icons .sign-in img {
        display: none;
    }
    
    .header .icons .search img {
        width: 20px;
        height: 20px;
        margin: 0px 0px 0px 25px;
    }
    
    .header .icons .cart img {
        width: 20px;
        height: 20px;
        margin-left: 25px;
    }
}

@media only screen and (max-width: 380px) {

    .form-container {
        width: 269px;
        height: auto;
        max-width: 1000px;
        padding: 50px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 10px 10px 50px #0e0e0e;
    }

    .form-popup {
        display: none;
        position: fixed;
        top: 10%;
        left: 15%;
        z-index: 2;
    }

    .sidenav .sign-in img {
        width: 20px;
        height: 20px;
        margin-top: 20px;
        margin-left: 25px;
    }
    
    
    .sidenav .cart img {
        width: 20px;
        height: 20px;
        margin-top: 20px;
        margin-left: 25px;
    }

    .banner h3 {
        left: -20%;
        position: absolute;
        top: 100%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 20px;
        font-weight: 100;
    }
}